.header {
  background: #151515 url(../images/intro-bg.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}


.header .text-container {
  z-index: 1;
}

.header .roles {
  font-family: "lora-regular", serif;
}

.header .social {
  bottom: 50px;
}

@media (max-width: 767px) {
  .header .social i {
    font-size: 30px;
  }
  .header h1 {
    font-size: 40px;
  }
  .edited_Button_BY_ME {
    font-size: 17px !important;
  }
  .border_edit {
    border-right: none !important;
    margin-bottom: 25px;
    border-bottom: 1px solid black;
  }
  .MiNE_FLEX {
    display: flex !important;
    margin-top: 20px;
    justify-content: center !important;
    gap: 30px !important;
  }
}

.project:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  opacity: 0.9;
}
.SERVICES {
  background: url(../images/bg.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.SERVICES .container {
  z-index: 10;
}
.SERVICES::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}